.nav:before,.nav:after { 
    display: table; 
    content: " ";
} 

.nav:after { 
    clear: both;
} 

.nav > li  { 
    position: relative; 
    display: block;
} 

.nav-tabs > li { 
    float: left; 
    margin-bottom: -1px; 
    border-right: 1px solid #fff;
} 

.nav-tabs > li { 
    background: #162e44;
} 

a { 
    color: #666; 
    text-decoration: none; 
    font-weight: 400;
} 

.nav > li > a  { 
    position: relative; 
    display: block; 
    padding: 10px 3px 10px 7px;
} 

.nav-tabs > li > a { 
    margin-right: 0; 
    line-height: 1.428571429; 
    border: 0 solid transparent; 
    border-radius: 0 0 0 0; 
    color: #fff; 
    -webkit-transition: .3s; 
    -moz-transition: .3s; 
    transition: .3s; 
    padding: 10px 3px 10px 7px;
} 

@media (min-width: 992px){ 
  .nav-tabs > li > a { 
    margin-right: 0; 
    line-height: 1.428571429; 
    border: 0 solid transparent; 
    border-radius: 0 0 0 0; 
    color: #fff; 
    -webkit-transition: .3s; 
    -moz-transition: .3s; 
    transition: .3s; 
    padding: 10px;
  } 
}     

.nav > li.active > a  { 
    color: #DC262A;
} 

.nav-tabs > li.active > a { 
    color: #000; 
    cursor: default; 
    background-color: #fff; 
    border: 0 solid #ddd; 
    border-bottom-color: transparent;
} 

a:active,a:hover { 
    outline: 0;
} 

a:hover { 
    color: #DC262A; 
    text-decoration: underline;
} 

.nav > li > a:hover  { 
    text-decoration: none;
} 

.nav-tabs > li > a:hover { 
    border: 0 solid transparent; 
    background: #000; 
    box-shadow: inset 0 0 5px 0 rgba(0,0,0,.2);
} 

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus { 
    color: #000; 
    cursor: default; 
    background-color: #fff; 
    border: 0 solid #ddd; 
    border-bottom-color: transparent;
} 

a:hover { 
    outline: 0;
} 

.nav-tabs > li > a span.suitcase { 
    width: 17px; 
    height: 18px; 
    display: block; 
    float: left; 
    background: url(https://www.travcoholidays.travel/images/sprite.png) -50px 0; 
    -webkit-transition: .2s; 
    -moz-transition: .2s; 
    transition: .2s;
} 

.nav-tabs > li.active > a span.suitcase { 
    width: 17px; 
    height: 18px; 
    display: block; 
    float: left; 
    background: url(https://www.travcoholidays.travel/images/sprite.png) -50px -18px;
} 

#myTab > li > a > span.hidetext { 
    display: none;
} 

@media (min-width: 992px){ 
  #myTab > li > a > span.hidetext { 
    display: inline-block;
  } 
}     

.nav-tabs > li > a:hover span.suitcase { 
    width: 17px; 
    height: 18px; 
    display: block; 
    float: left; 
    background: url(https://www.travcoholidays.travel/images/sprite.png) -50px 0;
} 

.nav-tabs > li.active > a:hover span.suitcase { 
    width: 17px; 
    height: 18px; 
    display: block; 
    float: left; 
    background: url(https://www.travcoholidays.travel/images/sprite.png) -50px -18px;
} 

.nav-tabs > li > a span.hotel { 
    width: 14px; 
    height: 18px; 
    display: block; 
    float: left; 
    background: url(https://www.travcoholidays.travel/images/sprite.png) -14px 0; 
    -webkit-transition: .2s; 
    -moz-transition: .2s; 
    transition: .2s;
} 

.nav-tabs > li > a:hover span.hotel { 
    width: 14px; 
    height: 18px; 
    display: block; 
    float: left; 
    background: url(https://www.travcoholidays.travel/images/sprite.png) -14px 0;
} 

.nav-tabs > li > a span.thingstodo { 
    width: 15px; 
    height: 18px; 
    display: block; 
    float: left; 
    background: url(https://www.travcoholidays.travel/images/sprite.png) -255px 0; 
    -webkit-transition: .2s; 
    -moz-transition: .2s; 
    transition: .2s;
} 

.nav-tabs > li > a:hover span.thingstodo { 
    width: 15px; 
    height: 18px; 
    display: block; 
    float: left; 
    background: url(https://www.travcoholidays.travel/images/sprite.png) -255px 0;
} 

.nav-tabs > li > a span.summary { 
    width: 16px; 
    height: 18px; 
    display: block; 
    float: left; 
    background: url(https://www.travcoholidays.travel/images/sprite.png) -163px 0; 
    -webkit-transition: .2s; 
    -moz-transition: .2s; 
    transition: .2s;
} 

.nav-tabs > li > a:hover span.summary { 
    width: 16px; 
    height: 18px; 
    display: block; 
    float: left; 
    background: url(https://www.travcoholidays.travel/images/sprite.png) -163px 0;
} 

.nav-tabs > li > a span.preferences { 
    width: 17px; 
    height: 18px; 
    display: block; 
    float: left; 
    background: url(https://www.travcoholidays.travel/images/sprite.png) -199px 0; 
    -webkit-transition: .2s; 
    -moz-transition: .2s; 
    transition: .2s;
} 

.nav-tabs > li > a:hover span.preferences { 
    width: 17px; 
    height: 18px; 
    display: block; 
    float: left; 
    background: url(https://www.travcoholidays.travel/images/sprite.png) -199px 0;
} 


.tab-content4 { 
    background: #fff; 
    padding: 30px 0 30px 0; 
    box-shadow: 0 0 10px rgba(0,0,0,0); 
    color: #000;
} 

*,:before,:after { 
    -webkit-box-sizing: border-box; 
    -moz-box-sizing: border-box; 
    box-sizing: border-box;
} 

.fade { 
    opacity: 0; 
    -webkit-transition: opacity 0.15s linear; 
    transition: opacity 0.15s linear;
} 

.fade.in { 
    opacity: 1;
} 

.tab-content4 > .tab-pane { 
    display: none;
} 

.tab-content4 > .active { 
    display: block;
} 

.tab-content4 > .tab-pane, .pill-content > .pill-pane { 
    display: none;
} 

.tab-content4 > .active, .pill-content > .active { 
    display: block;
} 

.hpadding20 { 
    padding: 0 20px 0 20px;
} 

.padding20 { 
    padding: 20px;
} 

p { 
    margin: 0 0 10px;
} 

.bold { 
    font-weight: 700;
} 

.opensans { 
    font-family: "Open Sans";
} 

.size16 { 
    font-size: 16px;
} 

.dark { 
    color: #333;
} 

.line2 { 
    background: #e8e8e8; 
    height: 1px; 
    margin: 12px 0 6px 0; 
    padding: 0; 
    display: block;
} 

.line4 { 
    background: #e8e8e8; 
    height: 1px; 
    margin: 17px 0 15px 0; 
    padding: 0; 
    display: block;
} 

button { 
    margin: 0; 
    font-family: inherit; 
    font-size: 100%;
} 

button { 
    line-height: normal;
} 

button { 
    text-transform: none;
} 

button { 
    cursor: pointer; 
    -webkit-appearance: button;
} 

button { 
    font-family: inherit; 
    font-size: inherit; 
    line-height: inherit;
} 

button { 
    background-image: none;
} 

.collapsebtn2 { 
    width: 100%; 
    height: 32px; 
    border: 0 solid black; 
    text-align: left; 
    padding-left: 20px; 
    padding-right: 20px; 
    color: #15262f; 
    font-family: "Open Sans"; 
    font-size: 14px; 
    font-weight: 700; 
    background: #fff;
} 

.collapse { 
    display: none;
} 

.collapse.in { 
    display: block;
} 

h5 { 
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif; 
    font-weight: 500; 
    line-height: 1.1;
} 

h5 { 
    margin-top: 10px; 
    margin-bottom: 10px;
} 

h5 { 
    font-size: 14px;
} 

h4 { 
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif; 
    font-weight: 500; 
    line-height: 1.1;
} 

h4 { 
    margin-top: 10px; 
    margin-bottom: 10px;
} 

h4 { 
    font-size: 18px;
} 

.lh1 { 
    line-height: 7px!important;
} 

.red { 
    color: #DC262A;
} 

.margtop1 { 
    margin-top: 1px!important;
} 

table { 
    border-collapse: collapse; 
    border-spacing: 0;
} 

table { 
    max-width: 100%; 
    background-color: transparent;
} 

.table { 
    width: 100%; 
    margin-bottom: 20px;
} 

.table-bordered { 
    border: 1px solid #ddd;
} 

.alert { 
    padding: 15px; 
    margin-bottom: 20px; 
    border: 1px solid transparent; 
    border-radius: 4px;
} 

.alert-danger { 
    color: #b94a48; 
    background-color: #f2dede; 
    border-color: #eed3d7;
} 

.col-md-4 { 
    position: relative; 
    min-height: 1px; 
    padding-right: 15px; 
    padding-left: 15px;
} 

@media (min-width: 992px){ 
  .col-md-4 { 
    float: left;
  } 

  .col-md-4 { 
    width: 33.33333333333333%;
  } 
}     

.clearfix { 
    float: none; 
    clear: both;
} 

.clearfix:before,.clearfix:after { 
    display: table; 
    content: " ";
} 

.clearfix:after { 
    clear: both;
} 

ul { 
    margin-top: 0; 
    margin-bottom: 10px;
} 

.collapsebtn2 span.collapsearrow  { 
    width: 9px; 
    height: 8px; 
    float: right; 
    margin-top: 10px; 
    background: url(https://www.travcoholidays.travel/images/collapsearrow.png) scroll 0 -8px no-repeat; 
    -webkit-transition: .3s; 
    -moz-transition: .3s; 
    transition: .3s; 
    background-image: url("https://www.travcoholidays.travel/images/collapsearrow.png"); 
    background-position-x: 0px; 
    background-position-y: -8px; 
    background-size: initial; 
    background-repeat-x: no-repeat; 
    background-repeat-y: no-repeat; 
    background-attachment: scroll; 
    background-origin: initial; 
    background-clip: initial; 
    background-color: initial;
} 

strong { 
    font-weight: 700;
} 

.table-striped > thead  { 
    background-color: #DC262A; 
    color: #fff;
} 

.alert > ul  { 
    margin-bottom: 0;
} 

img { 
    border: 0;
} 

img { 
    vertical-align: middle;
} 

img.fwimg { 
    width: 100%;
} 

.col-md-12 { 
    position: relative; 
    min-height: 1px; 
    padding-right: 15px; 
    padding-left: 15px;
} 

@media (min-width: 992px){ 
  .col-md-12 { 
    width: 100%;
  } 
}     

.mediafix1 { 
    margin-top: 30px; 
    margin-left: -15px; 
    margin-bottom: 15px;
} 

@media (min-width: 992px){ 
  .mediafix1 { 
    margin-top: 0; 
    margin-left: 0; 
    margin-bottom: 0;
  } 
}     

.margtop-5 { 
    margin-top: -5px!important;
} 

.margtop10 { 
    margin-top: 10px!important;
} 

b { 
    font-weight: 700;
} 

th { 
    text-align: left;
} 

.table thead > tr > th  { 
    padding: 8px; 
    line-height: 1.428571429; 
    vertical-align: top; 
    border-top: 1px solid #ddd;
} 

.table thead > tr > th  { 
    vertical-align: bottom; 
    border-bottom: 2px solid #ddd;
} 

.table-condensed thead > tr > th  { 
    padding: 5px;
} 

.table-bordered > thead > tr > th  { 
    border: 1px solid #E8E8E8;
} 

.table-bordered > thead > tr > th  { 
    border-bottom-width: 2px;
} 

.table thead:first-child tr:first-child th  { 
    border-top: 0;
} 

.table tbody > tr > td  { 
    padding: 8px; 
    line-height: 1.428571429; 
    vertical-align: top; 
    border-top: 1px solid #ddd;
} 

.table-condensed tbody > tr > td  { 
    padding: 5px;
} 

.table-bordered > tbody > tr > td  { 
    border: 1px solid #E8E8E8;
} 

.table-striped > tbody > tr:nth-child(2n + 1) > td  { 
    background-color: #f9f9f9;
} 

.table-striped > tbody > tr:nth-child(2n + 1) > td  { 
    background-color: #e7e7ee;
} 

.size14 { 
    font-size: 14px;
} 

.size11 { 
    font-size: 11px;
} 


/* These were inline style tags. Uses id+class to override almost everything */
#style-RMq98.style-RMq98 {  
   font-weight: 700;  
}  
#style-JPWUr.style-JPWUr {  
   font-weight: 700;  
}  
#style-jcSbX.style-jcSbX {  
   font-weight: 700;  
}  
#style-zez3l.style-zez3l {  
   font-weight: 700;  
}  
#style-aXi4J.style-aXi4J {  
   font-weight: 700;  
}  
#style-PVhDS.style-PVhDS {  
   font-weight: 700;  
}  
#style-nbB26.style-nbB26 {  
   font-weight: 700;  
}  
#style-bRkJP.style-bRkJP {  
   font-weight: 700;  
}  
#style-kKtBf.style-kKtBf {  
   font-weight: 700;  
}  
#style-IBUSF.style-IBUSF {  
   font-weight: 700;  
}  
#style-8lhp7.style-8lhp7 {  
   font-weight: 700;  
}  
#style-VzK77.style-VzK77 {  
   font-weight: 700;  
}  
#style-WnyhP.style-WnyhP {  
   font-weight: 700;  
}  
#style-nEnWA.style-nEnWA {  
   list-style-type: disc;  
}  
#style-DHPTQ.style-DHPTQ {  
   list-style-type: disc;  
}  
#style-H3sqa.style-H3sqa {  
   margin-bottom: 0px;  
}  


