.mb0 { 
    margin-bottom: 0!important;
} 

.bg-gray { 
    background-color: #f7f7f7;
} 

._sc  { 
    margin-bottom: 3.25rem;
} 

._sc.notext-t  { 
    margin-top: 3.6875rem;
} 

._sc.bg-gray:last-child  { 
    margin-bottom: 0;
} 

._sc.notext-t  { 
    margin-top: 4.0625rem;
} 

:before,:after { 
    -webkit-box-sizing: border-box; 
    -moz-box-sizing: border-box; 
    box-sizing: border-box;
} 




.py5 { 
    padding-top: 3.125rem; 
    padding-bottom: 3.125rem;
} 

.clearfix { 
    zoom: 1;
} 

.clearfix:after,.clearfix:before { 
    content: ''; 
    display: table;
} 

.clearfix:after { 
    clear: both;
} 

.pt3 { 
    padding-top: 1.875rem;
} 

.pb2 { 
    padding-bottom: 1.25rem;
} 

    

.vb-subscribe-blog-b1 .info-l  { 
    padding-right: 5.9375rem; 
    border-right: 1px solid #000;
} 

.pb0 { 
    padding-bottom: 0;
} 

.pl5 { 
    padding-left: 3.125rem;
} 

h2 { 
    margin: 0; 
    padding: 0;
} 

h2 { 
    font-weight: 500; 
    line-height: 1;
} 

h2 { 
    line-height: 1.2em;
} 

h2 { 
    font-size: 1.5625rem;
} 

h2 { 
    margin-bottom: 8px;
} 

.pb25 { 
    padding-bottom: 1.5625rem;
} 

.flex { 
    display: flex; 
    display: -webkit-flex; 
    flex-wrap: wrap;
} 

form { 
    margin: 0; 
    padding: 0;
} 

.mt1 { 
    margin-top: .625rem;
} 

.mb3 { 
    margin-bottom: 1.875rem;
} 

.vb-subscribe-blog-b1 .post-form  { 
    display: block;
} 

.right { 
    text-align: right;
} 

p { 
    margin: 0; 
    padding: 0;
} 

p { 
    font-size: 1rem;
} 

p { 
    margin-top: .5625rem;
} 

div > p:first-child  { 
    margin-top: 0!important;
} 

input { 
    font-family: inherit; 
    font-size: inherit; 
    font-style: inherit; 
    font-weight: inherit; 
    outline: 0;
} 

.post-form input  { 
    border: none;
} 

.col-xs-12 { 
    position: relative; 
    min-height: 1px;
} 

.px25 { 
    padding-left: 1.5625rem; 
    padding-right: 1.5625rem;
} 

.left { 
    text-align: left;
} 

.ot-read-policy { 
    position: relative;
} 

.vb-subscribe-blog-b1 .ot-read-policy  { 
    padding-left: 0;
} 

img { 
    margin: 0; 
    padding: 0;
} 

img { 
    vertical-align: middle;
} 

.lazyloaded { 
    opacity: 1; 
    transition: opacity 300ms;
} 

a { 
    text-decoration: unse; 
    cursor: pointer;
} 

.mt4 { 
    margin-top: 2.5rem;
} 

.color-main { 
    color: #162e44;
} 

.inlineblock { 
    display: inline-block;
} 

.f20 { 
    font-size: 1.25rem; 
    line-height: 1.2em;
} 

a:active,a:hover { 
    color: #162e44; 
    outline: 0; 
    text-decoration: underline;
} 

a.submit.btn.btn-bg {
    background: #162e44;
    color: white;
}


.radius5 { 
    border-radius: .3125rem; 
    -webkit-border-radius: .3125rem; 
    -moz-border-radius: .3125rem;
} 

._b_bd_clr { 
    border-color: #ab9271;
} 

.vb-subscribe-blog-b1 ._b_bd_clr  { 
    border-color: #514940;
} 

.post-form .gp-box  { 
    border-width: 1px; 
    border-style: solid; 
    background-color: #fff;
} 

.post-form .gp-box  { 
    position: relative;
} 

.post-form .err  { 
    display: none;
} 

.post-form .err::before { 
    content: ''; 
    position: absolute; 
    display: block; 
    width: 0; 
    height: 0; 
    border: 5px solid transparent; 
    border-bottom-color: red; 
    top: -10px;
} 

.ot-read-policy label  { 
    height: 25px; 
    margin: 0; 
    display: block;
} 

.post-form .left-radius  { 
    -moz-border-radius-bottomleft: .3125rem; 
    -moz-border-radius-topleft: .3125rem; 
    border-bottom-left-radius: .3125rem; 
    border-top-left-radius: .3125rem; 
    -webkit-border-bottom-left-radius: .3125rem; 
    -webkit-border-top-left-radius: .3125rem;
} 

.post-form input[type="email"]  { 
    height: 43px; 
    width: 100%; 
    padding: 8px 8px 8px 8px;
} 

.ot-subscribe input[type="email"]  { 
    display: inline-block; 
    width: 70%; 
    margin: 0;
} 

.btn { 
    display: inline-block; 
    text-align: center; 
    line-height: 1em; 
    border: 1px solid #F39800;
} 

.btn-bg { 
    color: #fff; 
    background: #F39800;
} 

a.btn { 
    text-decoration: none;
} 

.ot-subscribe a.submit  { 
    display: inline-block; 
    width: 30%; 
    height: 43px; 
    float: right; 
    text-align:center;
    padding-top: 12px; 
    -moz-border-radius-bottomright: 3px; 
    -moz-border-radius-topright: 3px; 
    border-bottom-right-radius: 3px; 
    border-top-right-radius: 3px; 
    -webkit-border-bottom-right-radius: 3px; 
    -webkit-border-top-right-radius: 3px;
} 



.post-form .all-radius  { 
    -moz-border-radius: .3125rem; 
    -webkit-border-radius: .3125rem; 
    border-radius: .3125rem;
} 

.post-form input[type="checkbox"]  { 
    border-color: #ab9271;
} 

.post-form input[type="checkbox"]  { 
    height: 22px; 
    width: 22px; 
    appearance: none; 
    -moz-appearance: none; 
    -webkit-appearance: none; 
    border-width: 1px; 
    border-style: solid; 
    background: #fff; 
    position: relative;
} 

.ot-read-policy input[type="checkbox"]  { 
    position: absolute; 
    margin: 0 10px 0 0; 
    font-size: 20px; 
    width: 25px; 
    height: 25px; 
    vertical-align: middle;
} 

.post-form input[type="radio"]::before, .post-form input[type="checkbox"]::after { 
    content: ''; 
    display: block; 
    height: 0; 
    width: 0;
} 

.post-form input[type="checkbox"]:checked  { 
    outline: none;
} 

.ot-read-policy .ptip  { 
    width: 100%; 
    padding-left: 30px; 
    margin: 4px -20px 0 0; 
    line-height: 28px;
} 

.ot-read-policy .ptip a  { 
    text-decoration: underline;
} 


